    {% extends "base.html.twig" %}
    {% block title %}Registros{% endblock %}
    {% block body %}
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
                <tr>
                    <td>{{nombre}} </td>
                    <td>{{rol}} </td>
                </tr>

        </table>
    {% endblock %}
