    {% extends "base.html.twig" %}
    {% block title %}Registros{% endblock %}
    {% block body %}
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
            {% for key in registros %}
                <tr>
                    <td>{{key.nombre}} </td>
                    <td>{{key.rol}} </td>
                    <td><a href='{{ path('consultarRegistrosID',{'id': key.id })  }}'class="btn btn-primary">Editar</a>
                    <a href='{{ path('eliminar',{'id': key.id })  }}'class="btn btn-danger">Eliminar</a> </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
